service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID} {
      allow read: if true;
      allow update: if isCurrentUser(userID);
    }
  }
}

function isCurrentUser(userID) {
    return request.auth.uid == userID
}
